.auth {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;

    &-container {
        min-width: 50vw;
        display: grid;
        row-gap: 10px;
    }

    &-form {
        display: grid;
        row-gap: 10px;
    }
}
